:root {
  --main-blue: #2b7ff5;
  --input-border: 1.5px solid rgba(20, 18, 18, 0.24);
}

.formContainer {
    background: radial-gradient(circle, #FFFFFF, #E9F0FB);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    padding: 2rem;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.formTitle {
    color: var(--main-blue);
    font-weight: bold;
    font-size:x-large;
    margin-bottom: 5px;
}

.formDescription {
    font-size: smaller;
    font-weight: light;
}

label {
  font-weight: bold;
  font-size: smaller;
  font-family: "DM Sans", sans-serif;
}

input {
    padding: 2%;
    border: var(--input-border);
    border-radius: 5px;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.errorMessage {
    font-weight: bolder;
    font-size: smaller;
    color: rgb(129, 13, 13)
}

.submitButton {
    margin-top: 30px;
    background-color: var(--main-blue);
    color: white;
    border: var(--input-border);
    border-radius: 5px;
    padding: 2%;
}