#profileNav {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

#rightNavContainer, #leftNavContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

#leftNavContainer {
    width: 50%;
}

#navTitle {
    color: var(--main-blue);
}

.returnLink {
    text-decoration: none;
    text-align: left;
    margin: 2%;
}

.returnText {
    color: var(--main-blue);
    font-weight: 500;
}

#userProfileContainer {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 24px;
    margin-left: 10%;
    margin-right: 10%;
}

#userProfileInfo h2 {
    font-size: 20px;
    font-weight: 700;
}

#userProfileInfo span {
    font-size: 14px;
    color: gray;
}

#userProfileStats {
    display: flex;
    gap: 32px;
}

.userStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.userStatNumber {
    font-size: 28px;
    font-weight: 700;
    color: var(--main-blue);
}

.userStatLabel {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}



/*modal styling adapted from code example from Lab 3. */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modalContent {
    background: white;
    padding: 32px;
    border-radius: 16px;
    width: 100%;
    max-width: 480px;
    max-height: 90vh;
    overflow-y: auto;
}
